<! doctype HTML5>

<html lang = "en">
    <head>
        <meta charset = "utf - 8">

        <title> selected pairs </title>
        <meta name = "description" content = "selected pairs">
        <meta name = "author" content = "Site Point">

        <link rel = "stylesheet" href = "css/style.css">
   
    </head>

    <body>
    
    <div id = "paired_names">
       <center><h1>Please pick pairs that work well together:</h1>
        <%pairs.each do |pair|%>
        <form method = "post" action = "/pairs_page">
      <h3> <input type = "checkbox" name ="pairs[]" value ='<%=pair.join(' , ')%>' > <%=pair.join(' , ')%></h3> 
        <%end%>
        <input type = "submit">
        </form>
    </div></center>

    </body>
</html>