<! doctype HTML5>

<html lang = "en">
    <head>
        <meta charset = "utf - 8">

        <title> selected pairs </title>
        <meta name = "description" content = "selected pairs">
        <meta name = "author" content = "Site Point">

        <link rel = "stylesheet" href = "css/style.css">
    <script>

   
    </script>
    </head>

    <body>
    <div id = "paired_names">
       <form action = "/checkbox_page">
            <input type = "checkbox" name = "namepairs" value = #{value} > <%= pairs %>
            <br>
            <input type = "submit">
        </form> 
    </body>
</html>