<! doctype HTML5>

<html lang = "en">
    <head>
        <meta charset = "utf - 8">

        <title> selected pairs </title>
        <meta name = "description" content = "selected pairs">
        <meta name = "author" content = "Site Point">

        <link rel = "stylesheet" href = "css/style.css">
    <script>
        function generateboxes(){
            var x =document.createElement("INPUT");
            x.setAttribute("type", "checkbox");
            document.body.appendChild(x);
        }
   
    </script>
    </head>

    <body>
    
    <div id = "paired_names">
        <% pairs.each do |pairs| %>
        <form method = "post" action = "/pairs_page">
       <p> <input type = "checkbox" name = "pairs[]" value = <%= pairs %> > <%= pairs %> </p>
        <%end%>
        <input type = "submit">
        </form>
    </div>

    </body>
</html>